/*
 * This file is part of the Metro-Panel extension for Gnome 3
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

/*
 * This code is originally forked from dash-to-panel extension:
 * <https://github.com/home-sweet-gnome/dash-to-panel>.
 */

.metropanelMainPanel.dark .panel-button StLabel{
    font-size: 10pt;
    font-family: "Segoe UI Semibold";
}

.metropanelMainPanel.light .panel-button StLabel{
    font-size: 9pt;
    font-family: "Segoe UI Semilight";
}

.preview-window-close-dark {
    background-color: #3d3d3d;
}

.preview-window-close-dark:hover {
    background-color: #c61a28;
}

.preview-window-close-light {
    background-color: #e9e9e9;
}

.preview-window-close-light:hover {
    background-color: #e93d4b;
}

#metropanelTaskbar .dash-item-container > StWidget {
	margin: 0;
	padding: 0; 
}

#panel .show-apps {
    margin-right: 3px;
}

.metropanelMainPanel.dark .panel-button {
    color: white;
}

.metropanelMainPanel.light .panel-button {
    color: black;
}

#metropanelScrollview .app-well-app .overview-icon,
.metropanelMainPanel .show-apps .overview-icon {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

#metropanelScrollview .app-well-app .overview-label {
	/* must match TITLE_RIGHT_PADDING in apppicons.js */
	padding-right: 8px;
}

#metropanelScrollview .app-well-app:hover .overview-icon,
#metropanelScrollview .app-well-app:focus .overview-icon {
	background: none;
}

.metropanelMainPanel .show-apps:checked {
	background-color: rgba(255, 255, 255, 0.053);
}

.metropanelMainPanel.dark .panel-button:hover,
.metropanelMainPanel.dark .show-apps:hover,
.metropanelMainPanel.dark .app-well-app:hover .dtp-container,
.metropanelMainPanel.dark .app-well-app:focus .dtp-container {
	background-color: rgba(255, 255, 255, 0.1);
}

.metropanelMainPanel.light .panel-button:hover,
.metropanelMainPanel.light .show-apps:hover,
.metropanelMainPanel.light .app-well-app:hover .dtp-container,
.metropanelMainPanel.light .app-well-app:focus .dtp-container {
	background-color: rgba(255, 255, 255, 0.4);
}

.metropanelMainPanel.light .app-well-app.focused .dtp-container {
    background-color: rgba(255, 255, 255, 0.5);
}

#metropanelScrollview .app-well-app:active .dtp-container {
	background-color: rgba(238, 238, 236, 0.18);
}

#metropanelScrollview .app-well-app .favorite {
	background-color: rgba(80, 150, 255, 0.4);
}

#metropanelScrollview .app-well-app-running-dot {
	margin-bottom: 0;
}

#metropanelTaskbar .scrollview-fade {
    background-gradient-end: rgba(0, 0, 0, 0);
}

.metropanelSecondaryMenu {
	max-width: 400px;
}

.metropanelMainPanel.vertical .panel-button {
	text-align: center; 
}

.metropanelMainPanel.vertical .panel-button.vertical *,
.metropanelMainPanel.vertical .panel-button.clock-display * {
	padding: 0;
	margin: 0; 
}

.metropanelMainPanel.vertical .panel-button > *,
.metropanelMainPanel.vertical .panel-button.vertical > *,
.metropanelMainPanel.vertical .panel-button.clock-display > * {
	padding: 8px 0; 
}

#metropanelThumbnailList {
	spacing: 0em;
	padding: 0 1em;
}

#metropanelThumbnailList .popup-menu-item {
	padding: 0;
	border-radius: 5px;
	spacing: 0;
}

#metropanelThumbnailList .window-box {
	padding: 0;
	spacing: 0;
}

#metropanelThumbnailList .preview-window-title {
	padding-top: 1em;
}

.popup-menu.panel-menu {
    margin-bottom: 0;
}

#panel #panelLeft, #panel #panelCenter {
	spacing: 0px; 
}

.panel-corner.hidden:active, .panel-corner.hidden:overview, .panel-corner.hidden:focus {
    -panel-corner-border-color: rgba(0, 0, 0, .001);
}
#metropanelScrollview .badge {
	color: rgba(255, 255, 255, 1);
	font-weight: bold;
	text-align: center;
}

#metropanelScrollview .number-overlay {
	background-color: rgba(0,0,0,0.8);
}

#metropanelScrollview .notification-badge {
    background-color: rgba(255,0,0,0.8);
}

#metropanelScrollview .progress-bar {
    /* Customization of the progress bar style, e.g.:
      -progress-bar-background: rgba(0.8, 0.8, 0.8, 1);
      -progress-bar-border: rgba(0.9, 0.9, 0.9, 1);
    */
}

#panel .panel-button:active, #panel .panel-button:overview, #panel .panel-button:focus, #panel .panel-button:checked {
    box-shadow: none;
}

/*Clock*/
.metropanelMainPanel.vertical .panel-button.clock-display {
	margin: 13px 0 11px 0;
}

#panel .panel-button.clock-display:active .clock, #panel .panel-button.clock-display:overview .clock, #panel .panel-button.clock-display:focus .clock, #panel .panel-button.clock-display:checked .clock {
    box-shadow: none;
}

#panel .clock-display {
    -natural-hpadding: 2px;
    -minimum-hpadding: 2px;
}

.metropanelMainPanel.vertical .clock-display {
    -natural-hpadding: 0;
    -minimum-hpadding: 0;
}

#panel .clock-display-box {
    margin: 0;
    padding: 0;
}

/*Show Desktop button*/
.showdesktop-button {
    margin-left: 8px;
}

.showdesktop-button-vertical {
    margin-top: 8px;
}

.metropanelMainPanel.dark .showdesktop-button:hover,
.metropanelMainPanel.dark .showdesktop-button-vertical:hover {
    background-color: rgba(255, 255, 255, .1);
}

.metropanelMainPanel.light .showdesktop-button:hover,
.metropanelMainPanel.light .showdesktop-button-vertical:hover {
	background-color: rgba(255, 255, 255, .4);
}

/*Extension: Notification Center*/
#panel .notification-center-panel-button:active {
    background-color: rgba(255, 255, 255, 0.053);
}

#panel .notification-center-panel-button .panel-status-menu-box {
    margin: 4px 8px;
}

.metropanelMainPanel.vertical .notification-center-panel-button .panel-status-menu-box {
    margin: 0;
    padding: 0;
}

#panel .notification-center-panel-button {
    -natural-hpadding: 0;
    -minimum-hpadding: 0;
}

/*Extension: Arc Menu*/
.arc-menu-panel-menu .panel-status-menu-box {
    margin: 1px 0 1px 0;
}
